html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: "Trebuchet MS";
    background-color: rgb(19, 20, 31);
}
#navBar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 20%;
}
#sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 20%;
}
#sidebarTitle {
    display: flex;
    justify-content: center;
    font-size: 4em;
    width: 100%;
    height: auto;
}
#sidebarDescription {
    display: flex;
    width: 100%
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}
#gridParent {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    user-select: none;
    gap: 4px;
    width: 600px;
    height: 600px;
}
.box img {
    height: 60%;
}
.box {
    display: inline-grid;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: inset 0 0 20px #666;
    justify-content: center;
    align-items: center;
}
.boxParityValue {
    background-color: #c7e055;
}
.parityValue {
    background-color: #45e75b;
}
.highlightedBox {
    transition: 0.3s;
    background-color: #8fdee4c7;
    color: #fff;
}
