html {
    overflow: hidden;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    font-family: "Trebuchet MS";
    background-color: rgb(19, 20, 31);
}
#titleBar {
    text-align: center;
    background-color: rgb(111, 117, 180);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100vw;
    color: #fff;
    font-size: 5em;
    border-bottom: 3px solid #fff;
}
#navBar {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-right: 3px solid #fff;
}
.navButton {
    width: 90%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 1.25em;
    border-radius: 10px;
    transition: 0.5s ease-out;
    background: linear-gradient(to left, #ffffff00 50%, rgb(111, 117, 180) 50%) right;
    background-size: 200%;
}
.navButton:hover {
    background-position: left;
}
#sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-left: 3px solid #fff;
}
#sidebarTitle {
    justify-content: center;
    padding-bottom: 10px;
    font-size: 4em;
    height: auto;
}
#sidebarDescription {
    width: 100%
}
#main {
    display: inline-grid;
    justify-content: center;
    align-items: center;
}
#gridParent {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    user-select: none;
    gap: 4px;
    width: 600px;
    height: 600px;
}
.box img {
    height: 60%;
}
.box {
    display: inline-grid;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: inset 0 0 20px #666;
    justify-content: center;
    align-items: center;
}
.boxParityValue {
    background-color: #c7e055;
}
.parityValue {
    background-color: #45e75b;
}
.highlightedBox {
    transition: 0.3s;
    background-color: #8fdee4c7;
    color: #fff;
}
