html {
    overflow: hidden;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    font-family: "Trebuchet MS";
    background-color: rgb(19, 20, 31);
    margin: 0;
}
#titleBar {
    text-align: center;
    background-color: rgb(111, 117, 180);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100vw;
    color: #fff;
    font-size: 5em;
    border-bottom: 3px solid #fff;
}
#navBar {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-right: 3px solid #fff;
}
.navButton {
    width: 90%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 1.25em;
    border-radius: 10px;
    transition: 0.5s ease-out;
    background: linear-gradient(to left, #ffffff00 50%, rgb(111, 117, 180) 50%) right;
    background-size: 200%;
    cursor: pointer;
}
.navButton:hover, .navSelected {
    background-position: left;
}
#sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-left: 3px solid #fff;
    overflow-y: auto;
}
#sidebarTitle {
    justify-content: center;
    padding-bottom: 10px;
    font-size: 3em;
    width: 100%;
    height: auto;
}
#sidebarDescription {
    width: 100%
}
#main {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    overflow-y: auto;
}
#gridParent {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    user-select: none;
    gap: 4px;
    height: 80%;
    aspect-ratio: 1;
}
.box img {
    height: 60%;
}
.box {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid black;
    box-shadow: inset 0 0 20px #666;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.boxParityValue {
    background-color: #c7e055;
}
.parityValue {
    background-color: #45e75b;
}
.highlightedBox {
    transition: 0.3s;
    background-color: #8fdee4c7;
    color: #fff;
}
.wrongParity {
    color: #ff0000;
}
#selectParent {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
};
.positionFormatting {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.positionNumber {
    display: inline-grid;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s;
}
.invisible {
    opacity: 0;
}